# Database & Server
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/e_learning
PORT=5000
SERVER_URL=https://e-learning-platform-api-nley.onrender.com
KEEP_ALIVE_INTERVAL_MINUTES=8

# Authentication
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES=30d
JWT_COOKIE_EXPIRES=30

# Cloudinary Storage
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Razorpay Payment Gateway
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret

# Email Service
EMAIL_USERNAME=your_email@gmail.com
EMAIL_PASSWORD=your_app_password
EMAIL_FROM=your_email@gmail.com

# AI & LLM Service
GROQ_API_KEY=your_groq_api_key
